html{
  max-height: 100vh;
  max-width: 100vw;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
img{
  width: 85vw;
  margin: 20px auto;
  box-shadow: 4px 4px 10px #494646;
  border-radius: 20px;
}